<mat-card>
  <mat-card-header>
    <mat-card-title>Pese</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-3">
          <label>Weights</label>
          <li>&#8805; 7.5 Ton : {{ val1 }}</li>
          <li>&#8805; 44 Ton : {{ val2 }}</li>
          <li>% &#8805; 44 Ton : {{ perc }}</li>
        </div>
        <div class="col-6 col-sm-3">
          <label>Top 3 Weights</label>
          <ng-container *ngFor="let pesata of largest">
            <li>{{ pesata.grossWeightInKg }}</li>
          </ng-container>
        </div>
      </div>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filtro"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8" #pese>
      <table
        class="table"
        matTableExporter
        mat-table
        #tablepese
        [dataSource]="dataSource"
        matSort
        #exporter="matTableExporter"
      >
        <ng-container
          *ngFor="let column of columnHeaders"
          [matColumnDef]="column.columnDef"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.header }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ column.cell(row) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        class="paginator"
        [pageSizeOptions]="[10, 20, 50]"
      ></mat-paginator>
    </div>
    <mat-toolbar>
      <mat-toolbar-row>
        <button class="btn btn-default" (click)="exportCsv()">
          <span
            class="glyphicon glyphicon-save-file lg"
            title="export to xlsx"
            aria-hidden="true"
          ></span>
        </button>
        <span></span>
        <button
          mat-button
          class="btn btn-default"
          (click)="exporter.exportTable('xlsx')"
        >
          export to xlsx
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- <div style="text-align: center">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [title]="chartOptions.title!"
      ></apx-chart>
    </div>-->
  </mat-card-content>
</mat-card>
